
.icon-list:before { content: '\e800'; } /* '' */
.icon-newspaper:before { content: '\e801'; } /* '' */
.icon-pen:before { content: '\e802'; } /* '' */
.icon-pen-fill:before { content: '\e803'; } /* '' */
.icon-plus-circle:before { content: '\e804'; } /* '' */
.icon-plus-circle-fill:before { content: '\e805'; } /* '' */
.icon-plus-square:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-stickies:before { content: '\e808'; } /* '' */
.icon-stickies-fill:before { content: '\e809'; } /* '' */
.icon-sticky:before { content: '\e80a'; } /* '' */
.icon-sticky-fill:before { content: '\e80b'; } /* '' */
.icon-telephone:before { content: '\e80c'; } /* '' */
.icon-telephone-fill:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-trash-fill:before { content: '\e80f'; } /* '' */
.icon-x:before { content: '\e810'; } /* '' */
.icon-x-circle:before { content: '\e811'; } /* '' */
.icon-x-circle-fill:before { content: '\e812'; } /* '' */
.icon-x-lg:before { content: '\e813'; } /* '' */
.icon-arrow-clockwise:before { content: '\e814'; } /* '' */
.icon-arrow-left:before { content: '\e815'; } /* '' */
.icon-arrow-left-circle-fill:before { content: '\e816'; } /* '' */
.icon-arrow-right:before { content: '\e817'; } /* '' */
.icon-arrow-right-circle-fill:before { content: '\e818'; } /* '' */
.icon-arrows-angle-expand:before { content: '\e819'; } /* '' */
.icon-building:before { content: '\e81a'; } /* '' */
.icon-calendar2-week:before { content: '\e81b'; } /* '' */
.icon-chevron-bar-expand:before { content: '\e81c'; } /* '' */
.icon-chevron-double-left:before { content: '\e81d'; } /* '' */
.icon-chevron-double-right:before { content: '\e81e'; } /* '' */
.icon-chevron-down:before { content: '\e81f'; } /* '' */
.icon-chevron-left:before { content: '\e820'; } /* '' */
.icon-chevron-right:before { content: '\e821'; } /* '' */
.icon-chevron-up:before { content: '\e822'; } /* '' */
.icon-cpu:before { content: '\e823'; } /* '' */
.icon-cpu-fill:before { content: '\e824'; } /* '' */
.icon-envelope:before { content: '\e825'; } /* '' */
.icon-eye:before { content: '\e826'; } /* '' */
.icon-eye-slash:before { content: '\e827'; } /* '' */
.icon-facebook:before { content: '\e828'; } /* '' */
.icon-laptop:before { content: '\e829'; } /* '' */
.icon-laptop-fill:before { content: '\e82a'; } /* '' */
.icon-linkedin:before { content: '\e82b'; } /* '' */
