@font-face {
    font-family: font-mon;
    src: url(../font/Montserrat.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   /*  list-style: none; */
    font-family: font-mon;
}

a{
    all:unset;
    cursor: pointer;
}

body{
    padding: 0;
    margin: 0;
  /*   background: #00072D;  
    background: -webkit-linear-gradient(to right, #001C55, #0E6BA8);  
    background: linear-gradient(to bottom, #001C55, #0E6BA8);  */
    background-color: #0d1b2a;
    background-image: linear-gradient(160deg, #0d1b2a 0%, #006494 100%);


}
/* Ukryj przycisk "upgrade" w TinyMCE */
.tox-promotion{
    display: none !important;
}

/* ---------------------- ZMIENNE ---------------------- */
:root
{
    /* KOLORY UŻYWANE W LAYOUCIE */
 /*    --color1: #001233; */
  /*   --color1: #0A1128; */
    --color1: #0D0C1D;
    --color2: #1B263B;
    --color3: #415A77;
    --color4: #778DA9;
    --color5: #E0E1DD;
    
  /*   --color6: #0D0C1D; */
    --color6: #0A0915;
    --color7: #003554;
    --color8: #006494;
    --color9: #0582CA;
    --color10: #00A6FB;
    --color11: #a9b2be;
    --color11: #D0D5DB;
    --color12: #DAD9DA;

    --color-background: #00072D;  /* fallback for old browsers */
    --color-background: -webkit-linear-gradient(to bottom, #001C55, #0E6BA8);  /* Chrome 10-25, Safari 5.1-6 */
    --color-background: linear-gradient(to bottom, #001C55, #0E6BA8);

    /* KOLORY CZCIONEK */
    --font-bright: #f1f1f1;
    --font-dark: #0f0f0f;
    --font-label: #f38b23;

    /* ODCIENIE SZAROŚCI */
    --grey100: #261F22;
    --grey80: #514C4E;
    --grey60: #7D797A;
    --grey40: #A8A5A7;
    --grey20: #D4D2D3;
    --grey10: #E9E9E9;
    --white: #FFFFFF;

    /* KOLORY-ALERTÓW */
    --error: #CC0000;
    --error-background: #F1D0CE;
    --warning: #EEBE00;
    /* --warning: #d6ad09; */
    --warning-background: #FFF1BB;
    --success: #339900;
    --success-background: #CAE7C9;


    --gradient-color: linear-gradient(to bottom, var(--color2), var(--color2X));
    --gradient-color-op: linear-gradient(to top, var(--color2), var(--color2X));
     /* ROZMIARY NAGŁÓWKÓW */
    --nav-header: 18px;

    --h1: clamp(40px, 5vw, 48px);
    --h2: clamp(32px, 6vw, 40px);
    --h3: clamp(25px, 5vw, 32px);
    --h4: clamp(20px, 4vw, 25px);
    --h5: clamp(16px, 3vw, 20px);
    --h6: clamp(13px, 2vw, 16px);

    /* ROZMIARY PARAGRAFÓW */ 
    --p-xxxl: 19px;
    --p-xxl: 18px;
    --p-xl: 17px;
    --p-l: 16px;
    --p-m: 15px;
    --p-s: 14px;
    --p-xs: 13px;
    --p-xxs: 12px;
    --p-xxxs: 11px;

    --p-button: 14px;
    --button-dark-height: 12px;
    --button-dark-width: 24px;

    /* ROZMIARY ZAOKRĄGLEŃ */ 
    --main-radius: 8px;

    /* SEKCJE */ 
    --section-global-mg-hor: 128px;
    --section-global-mg-ver: 56px;
}
/* ---------------------- ZMIENNE-END ---------------------- */


/* ---------------------- PREDEFINIOWANE KLASY ---------------------- */
/* --- COLORS --- */
.white { color: var(--white)}
.red { background-color: var(--error) !important}
.bg-red {background-color: var(--error-background) !important;}
.bg-white {background-color: var(--white);}
.bg-gradient {background: var(--gradient-color);}
.bg-gradient-op {background: var(--gradient-color-op);}
.bg-color1 { background-color: var(--color1);}
.bg-color2 { background-color: var(--color2);}
.bg-color3 { background-color: var(--color3);}
.bg-color4 { background-color: var(--color4);}
.bg-color5 { background-color: var(--color5);}
.bg-color6 { background-color: var(--color6);}
.bg-color7 { background-color: var(--color7);}
.bg-color8 { background-color: var(--color7);}
.bg-color9 { background-color: var(--color7);}
.bg-color10 { background-color: var(--color7);}
.bg-color11 { background-color: var(--color7);}
.bg-grey100 { background-color: var(--grey100);}
.bg-grey80 { background-color: var(--grey80);}
.bg-grey60 { background-color: var(--grey60);}
.bg-grey40 { background-color: var(--grey40);}
.bg-grey20 { background-color: var(--grey20);}
.bg-grey10 { background-color: var(--grey10);}


.pen-color{color: var(--color2);}
.font-bright {color: var(--font-bright)}
.font-dark {color: var(--font-dark)}
.error-font { color: var(--error) !important;}
.color0-font { color: var(--color0);}
/* --- COLORS-END --- */

/* --- FONT-STYLES --- */
.font-100 { font-weight: 100; }
.font-200 { font-weight: 200; }
.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }
.font-900 { font-weight: 900; }

.font-mon {font-family: font-mon !important;}

/* --- FONT-STYLES-END --- */


/* --- FONT-CLASSES --- */
.h1{font-size: var(--h1);font-family: font-mon ; ; font-weight: 600;}
.h2{font-size: var(--h2);font-family: font-mon ;}
.h3{font-size: var(--h3);font-family: font-mon ;}
.h4{font-size: var(--h4);font-family: font-mon ;}
.h5{font-size: var(--h5);font-family: font-mon ;}
.h6{font-size: var(--h6);font-family: font-mon ;}

h1{font-size: var(--h1);font-family: font-mon ; ; font-weight: 600;}
h2{font-size: var(--h2);font-family: font-mon ;}
h3{font-size: var(--h3);font-family: font-mon ;}
h4{font-size: var(--h4);font-family: font-mon ;}
h5{font-size: var(--h5);font-family: font-mon ;}
h6{font-size: var(--h6);font-family: font-mon ;}

.p-xxxl{font-size: var(--p-xxxl);}
.p-xxl{font-size: var(--p-xxl);}
.p-xl{font-size: var(--p-xl);}
.p-l{font-size: var(--p-l);}
.p-m{font-size: var(--p-m);}
.p-s{font-size: var(--p-s);}
.p-xs{font-size: var(--p-xs);}
.p-xxs{font-size: var(--p-xxs);}
.p-xxxs{font-size: var(--p-xxxs);}
/* --- FONT-CLASSES-END --- */

/* --- PADDING & MARGIN --- */
.pad8{ padding: 8px;}
.pad16{ padding: 16px;}
.pad24{ padding: 24px;}
.pad32{ padding: 32px;}

.mg8{ margin: 8px;}
.mg16{ margin: 16px;}
.mg24{ margin: 24px;}
.mg32{ margin: 32px;}

/* --- PADDING & MARGIN-END --- */
/* ---------------------- PREDEFINIOWANE KLASY-END ---------------------- */


/*  ---------------------- KOMPONENTY ---------------------- */
button{
    border: 0;
}

.button-dark{
    display: flex;
    padding: var(--button-dark-height) var(--button-dark-width);
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background-color: var(--color2);
    font-family: font-mon;
    font-weight: 400;
    font-size: var(--p-button);
    color: var(--white);
    width: fit-content;
    white-space: nowrap;
    transition: .4s;
}

.button-dark:hover{
    color: var(--color9);
    transform: scale(0.97);
    cursor: pointer;
}

/*  ---------------------- KOMPONENTY-END ---------------------- */

/* ---------------------- STAŁE-ELEMENTY-LAYOUT ---------------------- */

.main-container{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 
    auto 
    1fr 
    auto;
    grid-template-columns: 100%;
  }

.empty{
    height: 64px;
}

/* ----- HEADER-NAV ----- */

.nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0px 3%;
    background-color: var(--color6);
    transition: all .50s ease;
    z-index: 9000;
}

.nav-left
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left:hover{
    transform: scale(0.98);
    transition: all .3s ease-in;
}

.nav-left:hover > h5 > .nav-ico{
    color: var(--color9) !important;
    transform: scale(0.98);
}
.nav-left:hover > .nav-left-text{
    color: var(--color9);
    transform: scale(0.98);
    
}

.nav-left-img
{
    width: 41px;
    height: 40px;
    margin-right: 8px;
}

.nav-ico{
    color: var(--font-bright);
    font-size: 20px;
    transition: all .4s ease-in;
}

.nav-left-text {
    color: var(--font-bright);
    font-size: var(--nav-header);
    font-weight: 200;
    transition: all .3s ease-in;
}

.nav-center{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.nav-center-wrapper{
    display: none;
}

.nav-link{
    align-self: center;
    color: var(--font-bright);
    font-size: var(--p-s);
    font-weight: 400;
}

.nav-link:hover{
    color: var(--color9);
    transform: scale(0.98);
    transition: all .3s ease-in;
}

.nav-right{
    display: flex;
    align-content: center;
    gap: 8px;
    font-size: var(--p-m);
    width: 10%;
}

.nav-right-wrapper{
    display: flex;
    align-content: center;
    gap: 8px;
}

.nav-tel{
    display: flex;
    align-content: center;
    gap: 8px;
    margin-right: 24px;
}

.hamburger{
    display: none;
    color: var(--white);
    font-size: 32px;
    cursor: pointer;
}

.hide-logout1{
    display: none;
}
/* ----- HEADER-NAV-END ----- */

/* -----  FOOTER -----  */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: var(--color6);
    color: var(--font-bright);
    text-align: center;
    font-size: var(--p-xs);
    width: 100%;
    height: 48px;
    padding: 16px 3%;
}
/* -----  FOOTER-END -----  */
/* ---------------------- STAŁE-ELEMENTY-LAYOUT ---------------------- */

/*---- WELCOME-MAIN-CONTAINER ---- */
.welcome-main-container{
    height: calc(100vh - 112px);
}

/*  */
.welcome-header-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}
.welcome-hero-h{
    color: var(--font-bright);
    font-weight: 100;
    width: 100%;
    padding: 24px;
    text-align: center;
    background-color: rgba(10, 17, 40,  0.93);
}

.welcome-hero-img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
    filter: blur(1px);
}

.welcome-hero-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;   
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
}
.welcome-select-wrapper{
    display: flex;
   /*  gap: 32px; */
    width: 100%;
    /* padding: 32px; */
    height: 50%;
}

.welcome-select{
   /*  display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
   /*  margin: 8px; */
    /* border: 1px solid rgba(6, 50, 61, 0.15); */
    /* border-radius: 8px; */
    transition: all 0.5s ease-in-out;
}

.welcome-select-h{
    color: var(--white);
    transition: all 0.9s ease-in-out;
    width: 100%;
    text-align: center;
    padding: 16px;
    font-weight: 400;
    background-color: rgba(10, 17, 40,  0.93);
}

#timer{
    font-size: var(--h2);
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    font-weight: 600;
    color: var(--font-dark);
}


.welcome-select-img{
    object-fit: cover;
    width: 100%;
    height: 100%;  
    /*   background-repeat: no-repeat;
    background-size: cover; */
    filter: blur(0.5px);
    /* border-radius: 4px; */
}
.welcome-select:hover > .welcome-select-filter{
    background-color: rgba(0, 0, 0, 0.65);
}
.welcome-select:hover > .welcome-select-filter > .welcome-select-h{
    color: var(--color10);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 24px;
}
.welcome-select:hover > .welcome-select-img{
    filter: saturate(1.5);
}

.welcome-select-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;   
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
   /*  border-radius: 4px; */
    transition: all 0.5s ease-in-out;
   
}

ul{
    margin-left: 32px;
}
ol{
    margin-left: 32px;
}

/* .welcome-down-bar{
    height: 32px;
} */
/*---- WELCOME-MAIN-CONTAINER-END ---- */

/*---- PYTANIA-MAIN-CONTAINER ---- */
.pytania-main-container{
    background-color: white;
}

.pytania-bar{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: var(--color1);
    color: var(--font-bright);
}
.pytania-select-category{
    font-weight: 300;
}

.pytania-legend{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    font-weight: 300;
    font-size: var(--p-m);
}

.pytania-legend-item{
    display: flex;
    gap: 8px;
}
.stats{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    font-weight: 300;
    font-size: var(--p-s);
}

.stats >p:first-child{
    font-weight: 500;
}

.licznik-item{
    display: flex;
    gap: 8px;
}

.pytania-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.category-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    background-color: var(--grey10);
    border-radius: 8px;
}

.category-item-h-wrapper{
    display: flex;
    align-items: center;
    width: fit-content;
    transition: all .5s ease-in-out;
}

.category-item-h{
    font-weight: 600;
}

.category-item-h-wrapper:hover{
    color: var(--color9);
    cursor: pointer;
    
}
.category-item-h-wrapper:hover> .icon-category{
    transform: rotate(-90deg);  
    color: var(--color9);
    
}
.icon-category{
    font-size: var(--h5);
    transition: all .3s ease-in-out;
}

.category-item-h-wrapper:hover> .icon-category-active{
    color: var(--color9);
}
.icon-category-active{
    color: var(--color9);
    transform: rotate(-90deg);  
    font-size: var(--h5);
    transition: all .3s ease-in-out;
}

.pytanie-collection{
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

.category-pytanie-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
   padding: 16px;
   border-radius: 4px;
}


.pytanie-collection .category-pytanie-item:nth-child(odd) {
    background-color: var(--color11); /* Styl dla nieparzystych elementów */
}

.pytanie-collection .category-pytanie-item:nth-child(even) {
    background-color: var(--color12); /* Styl dla parzystych elementów */
}

.pytanie-collection2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0px;
}

.pytanie-collection2 .category-pytanie-item:nth-child(odd) {
    background-color: var(--color11); /* Styl dla nieparzystych elementów */
}

.pytanie-collection2 .category-pytanie-item:nth-child(even) {
    background-color: var(--color12); /* Styl dla parzystych elementów */
}

.pytanie-tresc-wrapper{
    display: flex;
    align-items: center;
}

.odp-d-h,
.odp-k-h{
    font-weight: 500;
    text-decoration: underline ;
}

.pytanie-tresc{
    font-weight: 500;
}
.pytania-legend-item-i-sz{
    color: var(--color8);
}
.pytania-hover:hover{
    color: var(--color9);
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.30s ease;
}

.pen-color:hover{
    color: var(--grey60);
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.30s ease;
}

.pytania-legend-item-i-k{
    color: var(--color8);
}

.pytania-legend-item-i-b{
    color: var(--error);
}

.item-i-mg-left{
    margin-left: 8px;
}

.odpowiedz-krotka,
.odpowiedz-dluga{
    display: none;
   /*  margin: 8px; */
    padding: 24px 16px;
    background-color: var(--white);
    border-radius: 4px;
    font-size: var(--p-m);
}

.odpowiedz-krotka * img,
.odpowiedz-dluga * img{
border-radius: 8px;
}


.show{
    display: block;
}
.show_flex{
    display: flex;
}

/* PYTANIA-EDIT */
.pytania-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pytanie-input-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--color5);
    border-radius: 8px;
    padding: 16px;
}

.pytanie-edit-wrapper-h{
    display: flex;
    flex-direction: row;
   /*  align-items: center; */
    gap: 8px;
    background-color: var(--color11);
    padding: 24px;
    border-radius: 8px;
}
.pytanie_img{
    max-width: 100%;
    /* margin-right: 25%;
    margin-left: 25%; */
    height: auto;
    object-fit: contain;

}

/* .p64{
    width: 21%!important;
    min-width: 250px !important;
    height: auto !important;
}
.p69{
    width: 50%;

    height: auto;
}

.p75{
    width: 50%;
} */

.pytanie-edit-pen{
    font-size: var(--h5);
}

.edit-settings-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.pytanie-delete-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pytanie-delete-wrapper-roz{
    display: none;
    flex-direction: row;
    align-items: center;
}
.pytanie-delete-wrapper-krotka{
    display: none;
    flex-direction: row;
    align-items: center;
}

.pytanie-delete-options{
    margin-left: 8px;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.trash-color{
    color: var(--error);
}
.trash-color:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.30s ease;
}

.delete-krotka-opt{
    display: none;
}
/* .delete-roz-trash{
    display: none;
} */

.delete-roz-opt{
    display: none;
}

.show-flex{
    display: flex !important;
}

.show-block{
    display: block;
}
.btn-delete-accept{
    background-color: var(--error);
    padding: 6px 16px;
    border-radius: 8px;
    color: var(--font-bright);
    transition: all 0.5s ease-in;
    font-size: var(--p-xxs);
}
.btn-delete-deny{
    background-color: var(--error);
    padding: 6px 16px;
    border-radius: 8px;
    color: var(--font-bright);
    transition: all 0.3s ease-in;
    font-size: var(--p-xxxs);
}


.btn-delete-deny:hover,
.btn-delete-accept:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.pytanie-tresc-hide{
    display: none;
}

.show-pytanie-edit{
    display: flex !important;
}
.show-pytanie-edit2{
    display: block !important;
}

.pytanie-odp-d-hide{
    display: none;
}
.pytanie-odp-k-hide{
    display: none;
}

/* ---- INPUTY ---- */
.input{
    display: block;
    border: solid 1px var(--color4);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    min-width: 96px;
   /*  height: 36px; */
}

.input:focus{
    outline-style: solid;
    outline-color: var(--color3);
    outline-width: 2px;
}

.input-select{
    width: fit-content;
/*     min-width: 96px; */
    padding: 0px 8px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.input-select:focus{
    outline-style: solid;
    outline-color: var(--color0);
    outline-width: 1px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
} 


/* ===== ALERTY ===== */
.error-alert{
    width: 100%;
   /*  margin: 8px 0px; */
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    color: var(--font-bright);
    background-color: var(--error);
}

.success-alert{
    width: 100%;
    /* margin: 8px 0px; */
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    color: var(--font-bright);
    background-color: var(--success);
}

.warning-alert{
    width: 100%;
    /* margin: 8px 0px; */
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    color: var(--font-bright);
    background-color: var(--warning);
}
/* ===== ALERTY-END ===== */



@media (max-width: 1050px){
    .hamburger{
        display: block;
    }
    
    .nav-right-wrapper{
        display: none;
    }
  
    .nav-center{
        position: fixed;
        top: 62px;
        left: -110%;
        width: 100%;
        padding: 24px 0px;
        margin: 0;
        height: fit-content;
        background: var(--color1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 8px 8px;
        font-weight: 500;
        transition: all .50s ease;
        border-bottom: 1px solid var(--color2);
    }
    
    .nav-center-wrapper{
        display: flex;
        align-content: center;
        margin-top: 8px;
        gap: 8px;
    }
    
    .nav-link{
      display: flex;
      justify-content: center;
      padding: 16px 0px;
      width: 90%;
      border-bottom: 1px solid var(--color2);
    }
  
    .nav-link:hover{
      color: var(--color6);
      background-color: var(--color9);
      border-radius: 4px;
    }

    .nav-center.open{
      left: 0;
    }

    .nav-right{
        gap: 0;
        width: fit-content;
    }
    .hide-logout1{
        display: block;
    }
    .hide-logout2{
        display: none;
    }
    .welcome-main-container{
        height: 100%;
    }
    .welcome-header-container{
        height: fit-content;
    }
    .welcome-select-wrapper{
        flex-direction: column;
        border-top: 32px solid var(--color1);
       /*  height: calc(100% - 64px); */
    
    }
    .w-option-left{
        border-bottom: 16px solid var(--color1);
    }

    .w-option-right{
        border-top: 16px solid var(--color1);
        border-bottom: 32px solid var(--color1);
    }

    .welcome-hero-h{
        font-size: var(--h2);
    }

    
}

@media (max-width: 1050px){
    .input-select{
        width: 260px;
    }
    .pytania-wrapper{
        padding: 16px 4px;
        gap: 8px;
    }
    .category-item{
        padding: 16px 8px;
    }
    .pytanie-collection{
        padding: 2px;
        gap: 8px;
    }
    .category-pytanie-item{
        padding: 16px 8px;
    }
    .odpowiedz-dluga,
    .odpowiedz-krotka{
        padding: 24px 8px;
        font-size: var(--p-xs);
    }

    .pytanie-collection2{
        gap: 8px;
        padding: 8px 0px;
    }
    
    #timer{
        padding-top: 24px;
    }

    .pytanie-edit-wrapper-h{
        padding: 16px 8px;
    }

    .pytanie-input-label{
        padding: 16px 4px;
    }
    
    .pytania-form{
        gap: 8px;
    }

    .odp-d-h{
        font-size: var(--h6);
    }
    .input-select{
        font-size: var(--p-xxs);
    }
    .pytania-select-category{
        font-size: var(--p-xxs);
    }
    .pytania-legend{
        font-size: var(--p-xxs);
    }

    .stats{
        font-size: var(--p-xxs);
    }

    .odpowiedz-krotka * img,
    .odpowiedz-dluga * img{
    max-width: 100%;
    height: auto;
}
    
}

@media(max-width: 500px){
    .admin-login-box{
        min-width: 310px;
    }
    /* .odpowiedz-krotka * img,
    .odpowiedz-dluga * img{
    width: 100%;
    height: auto;
    } */
}